<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <title>{{meta_title}}</title>
      <meta name="description" content="{{meta_description}}" />
      <meta name="HandheldFriendly" content="True" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="icon" type="image/svg+xml" href="{{asset "favicon.svg"}}">
      <link rel="icon" izes="16x16 32x32 48x48 64x64 128x128 256x256 512x512" type="image/vnd.microsoft.icon" href="{{asset "/favicon.ico"}}">
      <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">
      <link rel="stylesheet" href="{{asset "css/bootstrap-theme.min.css"}}">
      <link rel="stylesheet" href="{{asset "css/theme.css"}}">
  </head>
  <body>

    {{navigation}}

    <div id="wrap">
      <div class="container">
        {{{body}}}
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p>&copy; 2015-2016 Curtis Lee Bolin. Except where otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative Commons Attribution 3.0 Unported License.</a></p>
      </div>
    </div>

    <script type="text/javascript" src="{{asset "js/jquery-2.2.3.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>

  </body>
</html>
